<div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h3>New Tenant Creation</h3>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Tenant Name</label>
                          <input type="text" class="form-control" formControlName="tenantName">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.tenantName.touched || submitted) && registerFormControl.tenantName.errors?.required">
                              Tenant Name  is required
                          </span>

                          
                      </div>

                      <div class="form-group">
                        <label>Advance Amount</label>
                        <input type="number" class="form-control" formControlName="advanceAmount">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.advanceAmount.touched 
                            || submitted) && registerFormControl.advanceAmount.errors?.required">
                            Advance Amount  is required
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Monthly Rent</label>
                        <input type="number" class="form-control" formControlName="monthlyRent">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.monthlyRent.touched 
                            || submitted) && registerFormControl.monthlyRent.errors?.required">
                           Monthly Rent  is required
                        </span>
                    </div>
                        <div class="form-group">
                        <label>Onboard Date</label>
                        <input type="date" class="form-control" formControlName="onboardDate">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.onboardDate.touched || submitted) && registerFormControl.onboardDate.errors?.required">
                            Onboard Date is required
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </span>
                    </div>
        
                      <div class="form-group">
                          <button type="submit" class="btn btn-success">Register</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>